@use "./components";

html {
    // --bg-color: #0c0d11;
    // --main-color: #7ebab5;
    // --caret-color: #7ebab5;
    // --sub-color: #454864;
    // --sub-alt-color: #171a25;
    // --text-color: #f6f5f5;
    // --error-color: #ff4754;
    // --error-extra-color: #b02a33;
    // --colorful-error-color: #ff4754;
    // --colorful-error-extra-color: #b02a33;

//     --bg-color: #1c1e26;
// --main-color: #c4a88a;
// --caret-color: #bbb;
// --sub-color: #db886f;
// --sub-alt-color: #17181f;
// --text-color: #bbb;
// --error-color: #d55170;
// --error-extra-color: #ff3d3d;
// --colorful-error-color: #d55170;
// --colorful-error-extra-color: #d55170;
    /* 
    Colours used so far:
    #fffcc9 Light Yellow: background                        -bg
    #FED43F Yellow      : navbar color, contact color       -m
    #c45508 Rusty Orange: hover color                       -hl
    #888B8D Grey        : tiles and scrollbar               -sub
    #543631 Brown       : Color                             -text
*/
    --bg:#1c1e26;
    --m:#17181f;
    --hl: #ed1648;
    --alt:#1c1e26;
    --sub:#17181f;
    --text:#db886f;
    
    scrollbar-color:var(--text) var(--m);
    scrollbar-width:thin;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    background-color:var(--m);
    width: 10px;
}
html::-webkit-scrollbar-thumb {
    background-color:var(--text);
}

body, textarea, input {
    color:var(--text);
    margin:0;
    font-family:"Source Sans Pro", Helvetica, sans-serif;
    background-color: var(--bg);

    font-size: 17pt;
    font-weight:600;

    @media ( width < 1680px) {
        font-size: 14pt;
    }
    @media ( width < 1280px) {
        font-size: 12pt;
    }
    @media ( width < 360px) {
        font-size: 11pt;
    }
}

h1,h4,h3,p {
    margin:0;
}
h1,h3,h4 {
    font-weight:600;
}

a, label, button {
    color:inherit;
    text-decoration:none;
    font-size:0.8em;
    letter-spacing:0.25em;
    border:0;
}
h1 {
    font-size: 2.5em;
}
h3 {
    font-size:2.2em;
}
h4 {
    font-size: 1.1em;
}
.main {
    display: flex;
    flex-direction: column;
}
/* 
xlarge:    (1281px,   1680px   ),
large:     (981px,    1280px   ),
medium:    (737px,    980px    ),
small:     (481px,    736px    ),
xsmall:    (361px,    480px    ),
xxsmall:   (null,     360px    )
*/