@use "./components";

html {
    --bg:#1c1e26;
    --m:#17181f;
    --hl: #ed1648;
    --alt:#1c1e26;
    --sub:#17181f;
    --text:#db886f;
    
    scrollbar-color:var(--text) var(--m);
    scrollbar-width:thin;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    background-color:var(--m);
    width: 10px;
}
html::-webkit-scrollbar-thumb {
    background-color:var(--text);
}

body, textarea, input {
    color:var(--text);
    margin:0;
    font-family:"Source Sans Pro", Helvetica, sans-serif;
    background-color: var(--bg);

    font-size: 17pt;
    font-weight:600;

    @media ( width < 1680px) {
        font-size: 14pt;
    }
    @media ( width < 1280px) {
        font-size: 12pt;
    }
    @media ( width < 360px) {
        font-size: 11pt;
    }
}

h1,h4,h3,p {
    margin:0;
}
h1,h3,h4 {
    font-weight:600;
}

a, label, button {
    color:inherit;
    text-decoration:none;
    font-size:0.8em;
    letter-spacing:0.25em;
    border:0;
}
h1 {
    font-size: 2.5em;
}
h3 {
    font-size:2.2em;
}
h4 {
    font-size: 1.1em;
}
.main {
    display: flex;
    flex-direction: column;
}
/*
xlarge:    (1281px,   1680px   ),
large:     (981px,    1280px   ),
medium:    (737px,    980px    ),
small:     (481px,    736px    ),
xsmall:    (361px,    480px    ),
xxsmall:   (null,     360px    )
*/
