.banner {
    padding: 6em 0 2em 0;
    height: 100vh; 
    box-sizing: border-box;
    display:flex;
    align-items: center;

    @media (width < 736px) {
        padding:5em 0 2em 0;
        display:block;
        // height:auto;
    }
    @media (width < 481px) {
        padding:8em 0 2em 0;
    }
}
.banner-inner {
    width: 100%;
    box-sizing: border-box;
    padding: 0 3em;

    @media (width < 736px) {
        padding: 0 1.5em;
    }
}
.banner-header {
    margin-bottom:2em;
}
.banner-title {
    width: 100%;
    font-size:3.25em;

    @media (width < 736px) {
        font-size: 2em;
    }
}
.banner-subtitle {
    font-size: 0.7em;
    letter-spacing: 0.25em;
    
}
.banner-title::after {
    content: '';
    background-color: black;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
}

.banner-actions {
    display: flex;
    gap: 10px;
    margin-bottom: 2em;
    @media (width < 350px) {
        flex-wrap:wrap;
    }
}

.banner-actions > div {
    border: 2px solid black;
    padding:0.5em 1em;
    white-space: nowrap;
    transition: all 0.3s;
    cursor:pointer;

    &:hover {
        color: #c45508;
        border-color: #c45508;
        
    }
}
/* 
.banner-resume {
}
.banner-projects {
}
 */
.banner-skills-container {
    display: flex;
    flex-direction:column;
    gap: 2em;
}
.banner-skills-container > div {
    // width: 100%;
    height: 5em;
    border: 2px black solid;
}
/* 
.banner-skills-top {
}
.banner-skills-top {
}
*/