.banner {
    padding: 6em 0 2em 0;
    height: 100vh; 
    box-sizing: border-box;
    display:flex;
    align-items: center;

    @media (width < 736px) {
        padding:5em 0 2em 0;
        display:block;
        // height:auto;
    }
    @media (width < 481px) {
        padding:8em 0 2em 0;
    }
}
.banner-inner {
    width: 100%;
    box-sizing: border-box;
    padding: 0 3em;

    @media (width < 736px) {
        padding: 0 1.5em;
    }
}
.banner-header {
    margin-bottom:2em;
}
.banner-title {
    width: 100%;
    font-size:3.25em;

    @media (width < 736px) {
        font-size: 2em;
    }
}
.banner-subtitle {
    font-size: 0.7em;
    letter-spacing: 0.25em;
    
}
.banner-title::after {
    content: '';
    background-color: var(--text);
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
}

.banner-actions {
    display: flex;
    gap: 10px;
    margin-bottom: 2em;
    @media (width < 350px) {
        flex-wrap:wrap;
    }
}

.banner-actions > div {
    border: 2px solid var(--text);
    padding:0.5em 1em;
    white-space: nowrap;
    transition: all 0.3s;
    cursor:pointer;

    &:hover {
        color: var(--hl);
        border-color: var(--hl);
    }
}
/* 
.banner-resume {
}
.banner-projects {
}
 */
.banner-skills-container {
    display: flex;
    flex-direction:column;
    gap: 2em;
    overflow-x:hidden;
    position:relative;
    @media (width < 737px) {
        gap:3em;
        padding-top:1em;
    }
}
.banner-skills-container > .banner-skills-bottom {
    height: 5em;
    // border: 2px black solid;
    width: 200%;
    position:relative;
    display:flex;
    justify-content: space-around;

    p {
        font-weight: 300;
    }

    &:hover {
        animation-play-state:paused;
    }

    @media (width < 981px) {
        justify-content: space-between;
        width: 100%;
        gap:20px;
        animation:none;
        overflow-x: auto;
        scrollbar-width: none;
        overflow-y:hidden;

        &::-webkit-scrollbar {
            // display:none;
            height:2px;
            background-color:var(--m);
        }
        &::-webkit-scrollbar-thumb {
            background-color:var(--text);
        }
    }
}
// .banner-skills-container-inner {
//     width: 100%;
//     overflow-x:hidden;
// }

.banner-skills-bottom {
    animation: infiniScroll infinite reverse linear 30s;

}

.banner-skills-top {
    animation: infiniScroll infinite linear 30s;
    height: 5em;
    width: 200%;
    position:relative;
    display:flex;
    justify-content: space-around;
    overflow-y:hidden;

    p {
        font-weight: 300;
    }

    &:hover {
        animation-play-state:paused;
    }

    @media (width < 981px) {
        justify-content: space-between;
        width: 100%;
        gap:20px;
        animation:none;
        overflow-x: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            height:2px;
            background-color:var(--m);
        }
        &::-webkit-scrollbar-thumb {
            background-color:var(--text);
        }
    }
}

@keyframes infiniScroll {
    0% {
        left: 0
    }
    100% {
        left: -100%;
    }
}

.banner-svg{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    user-select:none;
    & > img {
        width:50px;
        height:50px;

        // filter:brightness(0) saturate(100%);
    }

    @media (width < 981px) {
        &.duplicate {
            display:none;
        }
    }
}