form input, form textarea {
    background-color:var(--m);
    border:none;
    letter-spacing: 0.025em;
    font-weight:300;
    line-height: 1.65;

    &:focus {
        outline: var(--text) 2px solid;
    }
}
.contact {
    position:relative;
    width: 100%;
    height: calc(100vh - 3.25em);
    display: flex;
    align-items: center;
    @media (width < 736px) {
        height: calc(100vh - 2.75em);
    }
}
.contact-inner {
    width:100%;
    margin: 3em;
    @media (width < 736px) {
        margin: 1.5em;
    }
}
form label {
    margin-bottom:1em;
}
form input {
    height: 2.75em;
    padding: 0 1em;
}
form textarea {
    padding: 0.75em 1em;
}
.contact-fields {
    display: flex;
    flex-wrap:wrap;
    margin-right:3em;
    margin-left: -1.5em;

    @media (width<981px) {
        margin-right: 0;
    }
}
.contact-fields > div {
    display:flex;
    flex-direction:column;
    padding: 1.5em 0 0 1.5em;
    box-sizing: border-box;
}
.contact-half-field {
    width: 50%;
    @media (width< 481px) {
        width:100%;
    }
}
.contact-field {
    width: 100%;
}
.contact-captcha {
    height:100px;
    width: 300px;
    border: 2px solid var(--text);
}
.contact-buttons {
    padding-top: 2em;
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
}
.contact-buttons > button {
    padding:0 1.75em;
    height:3.5em;
    cursor:pointer;
}
.contact-submit {
    background-color:var(--text);
    color:var(--bg);
}
.contact-clear {
    background-color:transparent;
    border:2px var(--text) solid;
}
/* 
.contact-footer {
    font-family:monospace;
    position: absolute;
    bottom:1em;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size:small;

    & > a:hover {
        color:var(--hl)
    }
}
.contact-techTags{
    display:flex;
    gap:5px;

    & > span > img {
        width:16px;
        height:16px;
        // filter:brightness(0) saturate(100%);

        @media (width < 361px) {
            width: 16px;
            height:16px;
        }
    }
}
*/