.contact {
    width: 100%;
    height: 100vh;
}
.contact-inner {
    margin: 4em;
}
.contact-fields {
    display: flex;
    flex-wrap:wrap;
}
.contact-fields > div {
    display:flex;
    flex-direction:column;
    padding: 1em 0 0 1em;
    box-sizing: border-box;
}
.contact-half-field {
    width: 50%;
}
.contact-field {
    width: 100%;
}
.contact-captcha {
    height:100px;
    width: 300px;
    border: 2px solid black;
}
.contact-buttons {
    padding: 1em 0 0 1em;
    display: flex;
    gap: 10px;
}
.contact-buttons > button {
    background-color:#FED43F;
    border:2px black solid;
}