
/* PROJECTS */
.projects-container {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    height: auto;

    // @media (width < 550px) {
    //     height: 1800px;
    // }
}
.projects-container > div {
    position:relative;
    width:50%;
    height: clamp(23em, 40vh, 40em);
    display:flex;
    align-items: center;
    
    padding: 4em 4em 2em 4em;
    box-sizing: border-box;
    
    &::before {
        opacity:0.85;
        transition: opacity 0.5s ease;
        background-color: #B94700;
        content: "";
        display:block;
        height:100%;
        width:100%;
        left:0;
        top:0;
        position:absolute;
        z-index:1;
    }
    &:hover::before {
        opacity:0;
    } 

    @media (width < 1280px) {
        padding: 4em 3em 2em 3em;
        height: clamp(20em, 30vh, 30em)
    }
    @media(width < 736px) {
        padding: 3em 1.5em 1em 1.5em;
        height: 16em
    }

    @media (width < 550px) {
        height:20em;
        width: 100%;
        &:nth-child(even)::before {
            background-color:#888B8D;
        }
    }
    
}
@media (width > 549px) {
    .projects-container > div:nth-child(4n - 2)::before {
        background-color:#888B8D;
    }
    .projects-container > div:nth-child(4n + 1)::before {
        background-color:#888B8D;
    } 
}

.project-inner {
    z-index:10;
    margin-bottom:2em;
    h3::after {
        content: "";
        height: 2px;
        margin: 0.325em 0 0.5em 0;
        width:100%;
        background-color: black;
        display: block;

    }
    a {
        letter-spacing: 0.025em;
        &:hover {
            color:#c45508;
            cursor: pointer;
        }
    }
    .project-nav {
        display:flex;
        gap:1em;
        font-size:1.25em;
    }
}


.project-video {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;

    & video {
        object-fit:fill;
        height:100%;
        width:100%;
    }
}

.techTags {
	position:absolute;
	top:10px;
    left:0;
    box-sizing: border-box;
	padding-left:10px;
	display:flex;
	gap: 10px;
	width:100%;
	flex-wrap:wrap;
	z-index:100;

    @media (width < 570px) {
        padding-left: 5px;
    }
}

.techTags > span > img {
	width:24px;
	height:24px;
    filter:brightness(0) saturate(100%);

    @media (width < 361px) {
        width: 20px;
        height:20px;
    }
}


#projectsMarker {
    position:absolute;
    top: calc(100vh - 4em);
    @media (width < 736px) {
        top: calc(100vh - 3.5em);
    }
}