
/* PROJECTS */
.projects-container {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    height: auto;

    // @media (width < 550px) {
    //     height: 1800px;
    // }
}
.projects-container > div {
    width:50%;
    height: 300px;
    background-color: #B9470050;

    padding: 4em 3em 2em 3em;
    box-sizing: border-box;
    @media (width < 550px) {
        width: 100%;
        &:nth-child(even) {
            background-color:#888B8D50;
        }
    }
    
}
@media (width > 549px) {
    .projects-container > div:nth-child(4n - 2) {
        background-color:#888B8D50;
    }
    .projects-container > div:nth-child(4n + 1) {
        background-color:#888B8D50;
    } 
}

.project-inner {
    margin-bottom:2em;
    h3::after {
        content: "";
        height: 2px;
        margin: 0.325em 0 0.5em 0;
        width:100%;
        background-color: black;
        display: block;

    }
    a {
        letter-spacing: 0.025em;
    }
    .project-nav {
        display:flex;
        gap:1em;
    }
}


#projectsMarker {
    position:absolute;
    top: calc(100vh - 4em);
    @media (width < 736px) {
        top: calc(100vh - 3.5em);
    }
}